function Main.main 4
push constant 5
pop local 1
push constant 20
pop local 2
push constant 15
pop local 3
push local 1
push local 2
push local 3
call LifeGame.new 3
pop local 0
push local 0
call LifeGame.run 1
pop temp 0
push constant 0
return
